.customer-home {
  padding-top: 2rem;

  .welcome-banner {
    background: #fafafa;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;

    h2 { font-size: 1.8rem; }
    p { display: flex; gap: 6px; align-items: center; }
  }

  .section-block {
    margin-bottom: 30px;
  }

  .restaurant-grid,
  .dish-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 20px;
  }

  .restaurant-card,
  .dish-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  .quick-actions {
    display: flex;
    gap: 10px;
    margin: 1.5rem 0;

    .action-btn {
      background: black;
      color: white;
      padding: 12px 16px;
      border-radius: 10px;
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  .activity-list {
    background: white;
    padding: 20px;
    border-radius: 12px;
    li { padding: 8px 0; }
  }
}

.nearby-swiper {
  padding: 10px 0;

  .swiper-button-next,
  .swiper-button-prev {
    color: #000; // change if needed
  }

  .swiper-pagination-bullet-active {
    background: #000;
  }
}

.res-card {
  border-radius: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.restaurant-img {
//    width: 100%;
        // height: 200px;
        // object-fit: cover;
}

.res-content {
  padding: 12px;

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .cuisine {
    font-size: 0.85rem;
    color: gray;
    margin: 4px 0;
  }

  .address {
    display: flex;
    gap: 6px;
    align-items: center;
    margin: 8px 0;
    font-size: 0.85rem;
  }

  .dish-footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .rating {
      display: flex;
      gap: 4px;
      align-items: center;
      font-size: 0.85rem;
      font-weight: 600;
    }
  }
}
