.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 1.5rem;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  border-radius: 2px 2px 15px 15px;
  z-index: 9999;
  top: 0;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    height: 6em;
    padding: 1.5em;
    img {
      height: 140%;
    }
  }

  .nav-links {
    display: flex;
    gap: 1.8rem;
    list-style: none;

    li {
      cursor: pointer;
      transition: 0.3s;
    }

    li:hover {
      color: var(--primary);
    }
  }
}
.nav-links a {
  position: relative;
  color: #444;
  transition: color 0.3s ease-in-out;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #16a34a;
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after,
.active-nav::after {
  width: 100%;
}

.active-nav {
  color: #16a34a;
  font-weight: 600;
  border-bottom: 2px solid #16a34a;
  transition: all 0.3s ease-in-out;
}

.navigator-mobile {
  display: none;
  // position: relative;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0em 0.5em;
  }
  .navbar .nav-links {
    display: none;
  }

  .navigator-mobile {
    display: block;

    position: static;

    .navigator-toggle {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 28px;
      color: #000;
      z-index: 1100;
      position: relative;
      outline: none;
    }
  }
  /* Side panel menu */
  .navigator-mobile .menu {
    position: fixed;
    top: 15%;
    right: -250px; /* hidden off screen */
    width: 250px;
    height: 100%;
    border-radius: 10px 0;
    background: #fff;
    flex-direction: column;
    padding: 20px 0;
    margin: 0;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }

  .navigator-mobile.active .menu {
    right: 0;
  }

  .navigator-mobile .menu li {
    list-style: none;
    border-bottom: 1px solid #eee;
  }

  .navigator-mobile .menu li a {
    display: block;
    padding: 15px 20px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
  }

  .navigator-mobile .menu li a:hover {
    background: #f4f4f4;
  }
}

.footer {
  background: #417041;
  width: 100%;
  color: #fff;
  padding: 1rem 2rem;
  margin-top: 2rem;
  text-align: center;

  .footer-container {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    img {
      height: 8em;
      margin: 0 auto;
    }
    .footer-links {
      display: flex;
      justify-content: center;
      gap: 4rem;
      list-style: none;
      padding: 0;

      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        transition: all 0.3s ease-in-out;
      }
    }
    .footer-socials {
      display: flex;
      justify-content: center;
      gap: 3rem;
      list-style: none;
      margin: 30px 0;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .home-push {
      padding-top: 10em;
    }
    .footer-container {
      display: block;
      .footer-links {
        gap: 1.5rem;
        margin: 20px 0;
      }
      img {
        height: 5em;
        margin: 0 auto;
      }
    }
  }
}
@media (max-width: 480px) {
  .footer-container {
    .footer-links {
      flex-direction: column;
      gap: 1rem;
      margin: 20px 0;
    }
  }
}
@media (max-width: 1024px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    .footer-links {
      gap: 1.5rem;
      margin: 20px 0;
    }
    img {
      height: 5em;
      margin: 0 auto;
    }
  }
}